body {
    margin: 0;
    box-sizing: border-box;
    padding: 2rem;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.table {
    width: 300px;
    height: 300px;
}

.table td {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}

.table td input {
    width: 80px;
}

h1 {
    font-size: 36px;
    color: #293849;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
  